<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * NOTE: This file is ignored from Git by default with the .gitignore included
 * in laminas-mvc-skeleton. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
	'dk_stripe' => [
		'base_url' => 'https://internal-gateway.sit.digitalkidu.bt:8082/uat/stripe',
		'api_key' => '',
		'submerchant_id' => '2606308100000031',
		'dk_account' => '100100426695',
		'agency_name' => 'Your Agency Name',
		'currency' => 'usd',
		// Optional explicit callback URLs. Must be HTTPS.
		// You can include {payment_id} placeholder.
		'success_url' => '',
		'cancel_url' => '',
		// Set false only in controlled UAT environments if certificate verification blocks testing.
		'verify_ssl' => true,
	],
];
